.interview-li:nth-child(odd) {
	background-color: #eee;
}
.interview-li {
	margin: 1.5rem 0;
	border-bottom: 2px solid #daa520;
	display: grid;
	grid-template-columns: 1fr 11fr;
}
.interview-li p {
	cursor: pointer;
	display: inline;
	margin-top: 0;
	font-size: 1.7rem;
}
.interview-li span {
	font-size: 1.2rem;
	font-weight: 600;
	margin: 1rem auto;
	display: block;
}
.interview-li .content {
	padding: 0.8rem 1rem;
}
.interview-li .serial {
	background-color: #daa520;
	color: #222;
	display: flex;
	margin: 0;
	padding: 0;
}
.interview-li .serial span {
	margin: auto !important;
	font-size: 3rem !important;
}
.serial-present {
	background-color: #0b730b !important;
	color: #fff !important;
}
.serial-present-line {
	border-bottom: 2px solid #0b730b !important;
}
.serial-future {
	background-color: #555 !important;
	color: #fff !important;
}
.serial-future-line {
	border-bottom: 2px solid #555 !important;
}
