body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
}
a {
	color: inherit;
	text-decoration: none;
}
main {
	min-height: 80vh;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}
.form-control {
	font-size: 1.5rem;
	width: 100%;
	padding: 10px 15px;
	margin: 5px 0;
	box-sizing: border-box;
}
.centered {
	text-align: center;
}
