header {
	background-color: #daa520;
	color: #000;
	min-height: 15vh;
	display: grid;
	grid-template-columns: 1fr;
}
.brand {
	margin: auto;
	text-align: center;
}
.brand h1 {
	margin: 0;
}
.brand p {
	font-size: 1rem;
	margin: 0;
	color: #fff;
}
